*{
    margin: 0;
    justify-content: space-between;
    align-items: center;
}


body{
    background-color: aqua;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: rgb(228, 238, 203);
   padding: 4%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}


header nav li{
    display: inline;
}




header img {
    width: 100px;
}

header input{
    border-radius: 20px;
    padding: 4px;
}

main video{
    width: 100%;
}

main img{
    width: 100%;
}